<div class="jumbotron">
    <h1>Workout Launge!</h1>

    <p>Show off your workout to your firends and family</p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>List of Members</h2>
        <%= will_paginate @atheletes, renderer: BootstrapPagination::Rails, class: "pull-left paginate" %>
    </div>
</div>

<div class="row">
    <% @atheletes.each do |athelete| %>
        <div class="col-md-10 well member">
            <%= athelete.full_name %>
        </div>
    <% end %>
</div>